.create-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    animation: promptAnimation 1s ease-in-out;

    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 30px;
    line-height: 100px;

    color: black;
}

.role-select {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    color: black;
}

@keyframes promptAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.chat {
    margin-left: 15%;
}

.button-selected {
    padding: 0;
    margin: 0;
    color: red;
    margin-right: 20px;
}

.button-not-selected {
    padding: 0;
    margin: 0;
    color: black;
    margin-right: 20px;
}