.monthly-analysis {

    margin-top:100px;
    
    .monthly-analysis_form--before-submit {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .monthly-analysis_form--after-submit {
        margin-top: 30px;
        margin-left: 20px;
    }
    
}