.s3-buckets{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 85px;
    margin-left: 14%
}


.optimization{
    display: block;
    height: auto;
    margin-bottom: 20px;
}