.icon-container {
    display: flex;
    margin-left:80px;
    justify-content: space-between;
}

.icon {
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}



.icon-group{
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
}